*{
    margin: 0px;
    padding: 0px;
}

.home{
    height: 90vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner-home{
    height: 90%;
    width: 90%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.p{
    height: 20%;
    width: 35%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.p p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}

.button{
    height: 20%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button button{
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgb(13, 209, 13);
    outline: none;
    background-color: transparent;
    transition: 2s;
}

.button a{
    text-decoration: none;
    color: rgb(13, 209, 13);
}

.button button:hover{
    background-color: rgb(13, 209, 13);
}

.button button:hover> a{
    color: white;
}

.img{
    height: 50vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.what{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-what{
    height: 85%;
    width: 90%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inner-what h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: white;
}

.main-what{
    height: 90%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in-main-what{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
}

.pp{
    height: auto;
    width: 70%;
    /* background-color: green; */
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    padding-left: 10px;
    color: white;
}

.roadmap{
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-roadmap{
    height: 90%;
    width: 90%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-roadmap h3{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    color: white;
}

.main-roadmap{
    height: auto;
    width: 90%;
    /* background-color: purple; */
}

.first-road{
    height: 50vh;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.main-first{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    margin-top: 20px;
}

.main-first ul{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-first li{
    list-style-position: inside;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 10px;
    margin-left: 20px;
    color: white;
}

.main-mainroadmap{
    height: 200vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.roadm{
    height:45%;
    width: 45%;
    /* background-color: yellow; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
}

.roadm ul{
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: red; */
    margin-top: 30px;
}

.roadm li{
    padding-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
}


.img2{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
}

.total{
    height: 80vh;
    width: 100%;
    background-color: black;
    display: flex;justify-content: center;
    align-items: center;
}


.in-total{
    height: 90%;
    width: 90%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.in-total h3{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    color: white;
}

.down-button{
    height: 150px;
    width: 40%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-button button{
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: white;
    background-color: rgb(13, 209, 13);
    transition: 2s;
}

.down-button button:hover{
    background-color: green;
}

.down-p{
    height: 100px;
    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-p p{
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

footer{
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-family: "Montserrat", sans-serif;
}