@media  screen and (max-width:999px) {
    .home{
        /* background-color: red; */
        height: auto;
        overflow: hidden;
    }

    .inner-home{
        justify-content: center;

    }

    .inner-home img{
        height: auto;
        width: 60%;
        margin-top: 30px;
    }

    .p{
        height: auto;
        width: 90%;
        margin-top: 50px;
    }

    .button{
        height: auto;
        margin-top: 100px;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .button button{
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .img{
        overflow: hidden;
    }

    .what{
        /* background-color: red; */
        height: auto;
        overflow: hidden;
    }

    .main-what{
        flex-direction: column;
    }

    .in-main-what{
        width: 100%;
        height: 60vh;
    }

    #main1{
        width: 70%;
        margin-top: 50px;
    }

    .inner-what h3{
        text-align: center;
    }

    #main2{
        height: 70%;
        margin-top: 50px;
    }

    .pp{
        font-size: 20px;
        width: 90%;
        text-align: center;
    }

    .in-main-what{
        display: flex;
        flex-direction: column;
        /* justify-content: ; */
        align-items: center;
    }

    .inner-roadmap h3{
        font-size: 3em;
    }

    .first-road{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    #main-3{
        height: 20%;
        width: 120%;
    }


    .main-first{
        width: 50%;
    }

    .main-first:nth-child(2){
        width: 90%;
        /* text-align: center; */
        padding-bottom: 100px;
    }


    .main-mainroadmap{
        height: auto;
        flex-direction: column;
    }

    .roadm{
        width: 90%;
        height: auto;
    }

    #roadm{
        height: 30vh;
    }

    .img2{
        height: auto;
    }

    .down-button{
        /* background-color: red; */
        width: 90%;
        padding-top: 50px;
    }
    .down-button button{
        width: 90%;
    }

    .total{
        height: auto;
    }

}


